body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}
#p1 {
    color: #f1ec40;
    text-align: center;
    font-style: arial;
    font-size: 20px;
    transition: 0.5s ease-out;
}
.ped { 
    color: #f1ec40;
    text-align: center;
    font-style: arial; 
}
#container4{
      color: #f1ec40;
      font-size: 25px;
      position: absolute;
      top: 100px;
      left: 300px;
}

#container5{ 
      width:1350px ;
      height: 520px;
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: 1335px;
      

}
#imgbg{
    width: 1350px;
    user-select: none;
    height: 520px;
    pointer-events: none;
    position: relative;

}

#imgs{
   width: 1350px;
   height: 520px;
   right: -8px;
   user-select: none;
   z-index: 9;
   pointer-events: none;
   position: absolute;
 

}
#tFS{
   color: white;
   font-size: 50px;
   position: absolute;
   user-select: none;
   pointer-events: none;
   z-index: 10;
   left: 100px;
   top: 40px;
}
#container6{
     color: #f1ec40;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     position: relative;
     left: 220px;
     user-select: none;


}
#txtFS{
   position:absolute;
   user-select: none;
   pointer-events: none;
   z-index: 10;
   top: 110px;
   left: 100px;
   color: white;
   font-size: 25px;

}
.par1{
  
   
     background:transparent ;
  
     width: 400px;
     border-bottom:solid 1px #AAA;
     border-top: transparent;
     border-left:transparent ;
     border-right: transparent;
     color: yellow;
}
.par1:focus{
    outline: 0;
}
#plant{
   font-size: 12px;

}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}
#navbarN a{ 
      color: #f1ec40;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      margin-right: 10px;
     
      user-select: none;

}
#navbarN{
    user-select: none;
 
    


}
#navbarN a:hover{
       color: yellow;
       transition: 0.1s;


}
#sustL{
   width: 200px;
   user-select: none;
   pointer-events: none;


}
.next{
    background: transparent;
     color: yellow;
     border: solid 1px yellow;
     width: 120px;
     margin-right: 15px;
     padding: 10px 25px;
     cursor: pointer;
     

}
.next:focus{
   outline: 0;

}
.next:hover{
     background-color: yellow;
     color: #000000;
     transition: 0.5s;

}
#container2{
   text-align: center;

}
